[Unit]
Description=RQWorker for Pootle %(environment)s

[Service]
Type=simple
User=wwwrun
ExecStart=%(project_path)s/env/bin/pootle --config %(project_path)s/settings/90-local.conf rqworker
Restart=always

[Install]
WantedBy=multi-user.target